ansicon==1.89.0
blessed==1.20.0
enlighten==1.11.2
et-xmlfile==1.1.0
jinxed==1.2.0
numpy==1.26.0b1
openpyxl==3.2.0b1
pandas==2.1.0rc0
prefixed==0.7.0
python-dateutil==2.8.2
pytz==2023.3
pyxlsb==1.0.10
six==1.16.0
tzdata==2023.3
wcwidth==0.2.6